{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Afnan's Dev Portfolio</h1>
    <p class="lead">Afnan Rehman is a data scientist and developer with interest in a variety of data science and machine learning fields.</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Github</h2>
        <p>
            My personal GitHub covers a variety of projects both academic and personal. It reflects my interests in technology, gaming, and most of all, data!
        </p>
        <p><a class="btn btn-default" href="https://github.com/AfnanRehman" target="_blank">See the code &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Resume</h2>
        <p>Learn about my previous experience and what I can do!</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>LinkedIn</h2>
        <p>Connect with me on LinkedIn and follow updates on my journey and weekly insights and thoughts!</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/afnan-rehman/" target="_blank">Connect &raquo;</a></p>
    </div>
</div>

{% endblock %}
